
#btnWakanda {
    background-color: var(--dark-purple);
    border-radius: 2px;
}

section.wakanda {
    background: url('../Illustrations + Logo/Wakanda/Pantherwakanda1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vw;
}

.wakanda .forever {
    width: 38%;
    position: relative;
    top: 35%;
    left: 14%;

}

.wakanda div h1 {
    font-family: 'Beyno', sans-serif;
    font-size: calc(2rem + 1.5vw);
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.wakanda div h2 {
    font-family: 'Wakanda Forever';
    letter-spacing: 5px;
    margin: 15px 0;
}

.wakanda div p {
    width: 70%;
    margin-top: 35px;
}

.fond-panther {
    position: absolute;
    opacity: 0.2;
}

section.panther-univers {
    position: relative;
    padding: 8vw 0;
    column-count: 2;
    column-gap: 100px;

}

.panther-univers p {
    margin-bottom: 25px;
}

.panther-univers h2 {
    margin-bottom: 40px;
}

.panther-univers .origine p:nth-of-type(3), .panther-univers .guerre p:nth-of-type(2) {
    margin-bottom: 45px;
}

.panther-univers .video {
    margin: 20px;
    max-width: 100%;
}

.panther-univers .illustration img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 90%;
}

@media screen and (max-width:1000px) {
    section.panther-univers {
        column-gap: 60px;
        width: 95%;
    }

    .panther-univers .video {
        margin-left: 0px;
    }
}

@media screen and (max-width:836px) {
    .wakanda .forever {
        width: 45%;
        top: 25%;
        left: 12%;
    }

    .wakanda div p {
        margin-top: 15px;
    }

    .panther-univers .video {
        display: block;
        margin: 20px auto;
    }

    section.panther-univers {
        column-count: initial;
        width: 75%;
    }
}

@media screen and (max-width:584px) {
    .wakanda .forever {
        width: 70%;
        left: 5%;
    }

    .wakanda div h1 {
        font-size: calc(1rem + 1.5vw);
        margin-bottom: 10px;
    }

    .wakanda div h2 {
        margin: 10px 0;
    }

    .wakanda div p {
        width: 100%;
    }

    .panther-univers .video {
        max-width: 70%;
        height: 70%;
    }

}